.outer1 {
  margin-bottom: 2.4rem;
}

.inner1 {
  max-width: 120rem;
  margin: 0 9.6rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.category {
  /* margin-left: 10rem;
  /*  */
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.6rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: max-content;
  gap: 1.2rem;
}

.product {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.4rem;
  padding: 1rem;
}

.product-des {
  padding: 0.4rem 0;
  font-weight: 600;
}

.product-price {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.cart-btn {
  padding: 0.6rem;
  background-color: #000000;
  border: none;
  border-radius: 0.4rem;
  color: #ffffff;
  font-weight: 600;
  /* margin-bottom: 1rem;s */
  cursor: pointer;
}
